.activity {
  padding: 15px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background: rgba(255, 255, 255, 0.3);
  }

  &:first-child {
    border-top: none;
  }
}
.time {
  display: flex;
  width: 45px;
  min-width: 45px;
  align-items: center;
}
.type {
  display: flex;
  width: 60px;
  min-width: 60px;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  padding-left: 5px;
  align-items: center;
  flex-flow: row wrap;
}
.content span {
  width: 100%
}
